* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
:root {
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;

}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    margin-bottom: 0;
}
/* h1 {
    font-size: 70px;
} */
body {
    font-size: 20px;
    font-family: 'Open Sams', sans-serif;
    
}
body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #323a46;
    color: var(--white);
}
p {
    font-size: 22px;
}

.texto-naranja {
    font-weight: 700;
    color: orange;
}
.texto-blanco {
    font-weight: 300;
    color: #fff;
}
.texto-gris {
    font-weight: 700;
    color: #531253;
}

/* Header */
.contenido-header {
    width: 100%;
    height: 100vh;
    background: url('/img/stucco_proyect3.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.contenido-header .texto {
    width: 100%;
    height: 100vh;
    font-size: 90px;
    font-weight: 400;
    font-family: 'Noto serif , serif';
    font-style: italic;
    display: flex;
    align-items: center;
    mix-blend-mode: mu;
    justify-content: center;

}

.menu {
    background-color: var(--purple-medium);
    width: 100%;
    position:sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto serif', serif;
    
}
.menu a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 26px;
    background-color: var(--purple-medium);
    margin: 0px 10px;
    transition: .5s ease all;
    color: var(--gray-light);
    text-decoration: none;
}
.menu a:hover {
    transform: translateY(18px);
    background-color: var(--purple-light);
}
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: var(--purple-medium);
    transition: .5s ease;

}
/* nosotro */
.nosotros {
    margin-bottom: 60px;
}
.subtitulo {
    text-transform: uppercase;
    color: var(--purple-dark);
    font-family: 'Norto Serif', serif;
    font-weight: 700;
    z-index: 2;
    margin-bottom: 20px;
}
.subtitulo span {
    background-color: var(--gray-light);
    padding: 0 30px;
    z-index: 99;
    position: relative;
}
.subtitulo::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--purple-dark);
    position: relative;
    top: -46px;
    z-index: 1;
}
/* Galeria */
.galeria {
    margin-bottom: 60px;
}
.galeria img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.informacion {
    display: inline-block;
}
@media screen and (max-width: 800px){
    body{
        background:#ff8000
    }
.contenido-header{
    width: 100%;
}
}
